[Interface]
Address = 10.0.0.2/24
ListenPort = 51820
PrivateKey = [NON-RU SERVER PRIVATE KEY]

# Usual forwarding
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT

# NAT
PostUp = iptables -t nat -A POSTROUTING -s 10.0.0.0/24 -o eth0 -j MASQUERADE

# Clean up
PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -o %i -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -s 10.0.0.0/24 -o %i -j MASQUERADE

# Russian server
[Peer]
PublicKey = [RU SERVER PUBLIC KEY]
AllowedIPs = 10.0.0.0/24
Endpoint = 85.239.51.70:51820