[Interface]
Address = 10.0.0.1/24
ListenPort = 51820
PrivateKey = [RU SERVER PRIVATE KEY]
Table = wireguard2x

# Create new table for tunneled traffic
PreUp = echo "1337 wireguard2x" >> /etc/iproute2/rt_tables

# Usual forwarding
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT

# Put everything came from WireGuard tunnel to dedicated table
PostUp = ip rule add iif %i table wireguard2x

# Create routes that will bypass tunnel
PostUp = /usr/local/bin/update-cidrs-in-route-table.py --force

# Clean up
PostDown = ip route flush table 1488

# Non-Russian server
[Peer]
PublicKey = [NON-RU SERVER PUBLIC KEY] 
AllowedIPs = 10.0.0.2/32, 0.0.0.0/0

# Client
[Peer]
PublicKey = [CLIENT PUBLIC KEY]
AllowedIPs = 10.0.0.3/32